@model QuanLyDiemSinhVien.Models.Diem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Diem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonHocs.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHocs.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SinhViens.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhViens.TenSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemLan1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemLan1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemLan2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemLan2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemTrungBinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemTrungBinh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XepLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XepLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
